/* styles.css */

#root {
    -fx-background-color: #f0f0f0;
    -fx-pref-height: 600px;
    -fx-pref-width: 1000px;
}

#rootShort {
    -fx-background-color: #f0f0f0;
    -fx-pref-height: 400px;
    -fx-pref-width: 650px;
}

#rootLarger {
    -fx-pref-height: 700px;
    -fx-pref-width: 1200px;
}

#cadastroPane {
    -fx-background-color: #ffffff;
    -fx-padding: 10;
    -fx-border-width: 1;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5;
}

#tituloLabel {
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

#cadastroVBox {
    -fx-spacing: 10;
    -fx-padding: 10;
}

.formLabel {
    -fx-font-size: 14;
    -fx-text-fill: #666666;
}

.textField {
    -fx-prompt-text-fill: #999999;
    -fx-background-color: #ffffff;
    -fx-border-width: 1;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5;
    -fx-padding: 5;
}

#removerButton {
    -fx-background-color: #e53f3f;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
    -fx-border-radius: 5;
}

.cadastroButton, .loginButton {
    -fx-background-color: #4CAF50;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14;
    -fx-padding: 10;
    -fx-border-width: 0;
    -fx-border-radius: 5;
    -fx-cursor: hand;
}

#cadastrarButton:hover {
    -fx-background-color: #3e8e41;
}

#tabelaPane {
    -fx-background-color: #ffffff;
    -fx-padding: 10;
    -fx-border-width: 1;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5;
}

#tabelaTableView {
    -fx-table-cell-width: USE_COMPUTED_SIZE;
    -fx-background-color: #ffffff;
    -fx-table-cell-border-color: #cccccc;
    -fx-table-header-border-color: #333333;
}

.column {
    -fx-alignment: CENTER;
    -fx-text-fill: #333333;
}

.menu-bar, .tool-bar {
    -fx-background-color: #4CAF50;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14;
    -fx-padding: .5em 1.5em;
    -fx-border-width: 0;
    -fx-font: bold 11pt "Segoe UI";
}

.tool-bar .menu .label {
    -fx-background-color: #4CAF50;
    -fx-text-fill: #ffffff;
    -fx-padding: 0;
}

.context-menu {
    -fx-background-color: #4CAF50;
    -fx-text-fill: #ffffff;
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    -fx-padding: 1 1 1 1; /* 4 1 8 1 */
}

.tool-bar .menu-item, .tool-bar .menu-item .label {
    -fx-background-color: #4CAF50;
    -fx-text-fill: #ffffff;
    -fx-padding: 3 8;
    -fx-cursor: hand;
}

.tool-bar .menu-button, .tool-bar .menu-button .label, .tool-bar .menuButton {
    /*-fx-mark-color: #2e7331;*/
    -fx-background-color: #4CAF50;
    -fx-text-fill: #ffffff;
    -fx-padding: 0 10;
    -fx-cursor: hand;
}

.menu-button .arrow {
    -fx-background-color: #ffffff;
}


.tool-bar .menu-item:hover, .tool-bar .menu-item:hover .label, .tool-bar .menuButton:hover {
    -fx-background-color: #2e7331;
}